<h1>Seja bem-vindo</h1>
<ul>
  <li><a href="http://192.168.78.4:3000/kinds">Tipos</a></li>
  <li><a href="http://192.168.78.4:3000/contacts">Contatos</a></li>
  <li><a href="http://192.168.78.4:3000/addresses">Endereços</a></li>
  <li><a href="http://192.168.78.4:3000/phones">Telefones</a></li>
</ul>
